.banner__top {
    max-height: 560px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;

    img {
        display: block;
        height: auto;
        position: relative;
        width: 100%;
        z-index: 0;
    }

    &:after {
        background: rgba(39,39,39,0.3);
        content: "";
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 1;
    }

    &--title{
        position:absolute;
        top:10%;
        left:10vw;
        right:10vw;
        bottom:0;
        z-index:2;
        display:none;
        align-items:center;
        justify-content:center;
        text-align:center;
        line-height:1.2;
        color:$white;
        font-family:$font1;
        letter-spacing:2;
        @include media('small-tablet'){
            display:flex;
        }
    }
}
