.header {
    position: fixed;
    z-index: 99999;

    width:100vw;
    padding:20px;

    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);

    color:$white;
    font-family:$font2;
    text-transform:uppercase;
    letter-spacing:1.5px;
    font-size:14px;

    transition:.3s background;

    a{
        color:$white;
        text-decoration:none;
        position:relative;
        transition: color .3s;
        &:before{
            height:1px;
            width:0px;
            background-color:$green5;
            position:absolute;
            left:0;
            bottom:0;
            content:'';
            transition: width .3s;
        }
        &:hover{
            color: $green5;
            transition: color .3s;
            &:before{
                width:100%;
                transition: width .3s;
            }
        }
    }

    &__container{        
        grid-template-columns: 25% 50% 25%;

        display:grid;
    }

    &__menu{
        display:flex;
        align-items:center;
        grid-gap:2em;
        &--icon{
            height:25px;
            display:none;
            flex-direction:column;
            justify-content:space-between;
            &:hover{
                cursor:pointer;
                span{
                    background-color:$green5;
                }
            }
            span{
                display:block;
                background-color:$white;
                height:3px;
                width:35px;
                border-radius:10px;
                transition: .3s;
            }
            &.active{
                span{
                    &:nth-of-type(1){
                        transform:rotate(45deg) translate(10px, 10px);
                        transition: .3s transform;
                    }
                    &:nth-of-type(2){
                        opacity:0;
                        transition: .3s opacity;
                    }
                    &:nth-of-type(3){
                        transform:rotate(-45deg) translate(5px, -5px);
                        transition: .3s transform;
                    }
                }
            }
        }
        &--icon__mob{
            height:22px;
            display:flex;
            flex-direction:column;
            justify-content:space-between;
            &:hover{
                cursor:pointer;
                span{
                    background-color:$green5;
                }
            }
            span{
                display:block;
                background-color:$white;
                height:2px;
                width:35px;
                border-radius:10px;
                transition: .3s;
            }
            &.active{
                span{
                    &:nth-of-type(1){
                        transform:rotate(45deg) translate(10px, 10px);
                        transition: .3s transform;
                    }
                    &:nth-of-type(2){
                        opacity:0;
                        transition: .3s opacity;
                    }
                    &:nth-of-type(3){
                        transform:rotate(-45deg) translate(5px, -5px);
                        transition: .3s transform;
                    }
                }
            }
        }
    }

    &__logo{
        background-image: url(../images/Combe-Grove-Wordmarkx2.png);
        background-position:center;
        background-size:contain;
        background-repeat:no-repeat;
        height: 65px;
        width:100%;
        transition:.3s transform;

        @include hideText;

        &--container{
            &:hover{
                &:before{
                    display:none; 
                }
            }
        }
    }

    &__search{
        svg{
            width:28px;
            path{
                fill:$white;
            }
        }
    }

    &__links{
        display:flex;
        justify-content:flex-end;
        align-items:center;
        grid-gap: 3em;
    }

    &__button{
        display:block;
        padding:5px;
        border-left:1px solid $white;
        border-right:1px solid $white;
        border-bottom:1px solid $white;
        border-top:1px solid $white;
        &:hover{
            &:before{
                display:none;
            }
            border-left:1px solid transparent;
            border-right:1px solid transparent;
            border-bottom:1px solid $green;
            border-top:1px solid $green;
        }
    }
}

.header__heading{
    position:absolute;
    width:100%;
    height:65%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.header__subheading{
    color: $white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.31);
}

.header__logo {
    

    .header__logo--link {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.single,
.error404,
.tag,
.category,
.search {
    .header {
        background: $green5;
    }
}

.scrolled .header{
    background: rgba($green5, 0.9);
    padding:10px 20px;
    transition:.3s background, .3s padding;

    &__logo{
        transform:scale(.7);
        transition:.3s transform;
    }

    &__links{
        a{
            &:hover{
                color: $green2;
            }
        }
    }
}

@include media('mobile'){
        
    .header {
        font-size:18px;
    }

    .header__logo--container{
        grid-template-columns: repeat(3, 1fr);
    }

    .header__links{
        padding-right:20px;
    }

    .header__button{
        padding:10px;
    }
}

@include media('tablet'){
    .header .layout__inner {
        width: 790px;
    }

    .header {
        > .layout__inner {
            height: 114px;
        }
    }


}

@include media('tablet-landscape'){
    .header .layout__inner {
        width: 1000px;
    }

}

@include media('desktop'){
    .header .layout__inner {
        width: 1270px;
    }

    .header__menu--icon{
        display:flex;
    }

    .header__menu--icon__mob{
        display:none;
    }
}


