.nav__main {
    background: $background;
    display: block;
    height: 100vh;
    left: 0px;
    opacity: 0;
    overflow: scroll;
    padding: 70px 5%;
    position: fixed;
    text-align: left;
    top: -100vh;
    width: 100vw;
    z-index: 0;
    @include trans(all);

    &.active {
        top: 0px;
        opacity: 1;
        z-index: 999999;
    }
}

.nav__close {
    background: url(../images/cross.svg) 0 0 / 100% 100% no-repeat;
    display: block;
    height: 14px;
    left: 5%;
    position: absolute;
    top: 18px;
    transform: rotate(0deg);
    width: 14px;
    @include trans(transform);

    &:hover {
        transform: rotate(720deg);
    }
}

.nav__title {
    font-family: $font3;
    text-transform: uppercase;

    h4 {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 20px;

        &.nav__title--1 {
            color: $title1;
        }

        &.nav__title--2 {
            color: $green2;
        }

        &.nav__title--3 {
            color: $blue;
        }
    }

    &.nav__title--wide {
        width: 100%;
    }
}

.nav__row > li {
    float: left;
    width: 25%;
}

.nav__row--submenu {
    padding-right: 20px;

    a {
        text-decoration: none;
    }

    li {
        margin-bottom: 10px;
    }

    > li {
        width: 100%;

        > ul > li {

            > a {
                color: $title1;
                display: block;
                font-family: $font1;
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 10px;
                text-transform: none;
            }

            ul {
                margin-bottom: 20px;

                > li {
                    font-family: $font2;
                    font-size: 16px;

                    a {
                        color: $text3;
                        font-weight: 400;
                        text-transform: none;
                    }
                }
            }
        }
    }

    &.nav__row--submenu-1 {
        a {
            &:hover {
                color: $title1;
            }
        }
    }

    &.nav__row--submenu-2 {
        a {
            &:hover {
                color: $green2;
            }
        }
    }

    &.nav__row--submenu-3 {
        a {
            &:hover {
                color: $blue;
            }
        }
    }

    &.nav__row--submenu-4 {
        a {
            &:hover {
                color: $feature;
            }
        }
    }
}

.nav__row--responsive>li {
    margin-bottom: 30px;
    width: 100%;
}

.nav__utility {
    float: right;

    ul {
        li {
            float: left;
        }
    }
}

.nav__utility--expanded {
    right: 5%;
    position: absolute;
    top: 0px;

    li {
        float: left;
        margin-left: 8px;

        .nav__utility--home {
            path {
                fill: $title1;
                @include trans(fill);
            }

            &:hover {
                path {
                    fill: $highlight;
                }
            }
        }
    }
}

.nav__back-to-top {
    background: $background;
    padding: 26px 0;
    text-align: right;

    .nav__back-to-top--link {
        color: $feature;
        font-family: $font3;
        font-size: 18px;
        position: relative;
        text-decoration: none;
        @include trans(color);

        &:after {
            background: url(../images/back-to-top-arrow.svg) 0 0 / 100% auto no-repeat;
            content: "";
            height: 7.5px;
            position: absolute;
            right: 0px;
            top: -10px;
            width: 12px;
        }

        &:hover {
            color: $red;
        }
    }
}

@media screen and (min-width: 750px) {
    .nav__row--submenu-wide>li>ul>li ul>li {
        float: left;
        width: 100%;
    }
}
