.search {

}

.search__form {
    height: 32px;
    margin-right: 25px;
    position: relative;
    display:flex;
    align-items:center;

    label {
        display: none;
    }
}

.search__input {
    background: transparent;
    border: none;
    color: $background;
    height: 32px;
    outline: none;
    width: 0px;
    border-bottom:2px solid $white;
    margin-right:.5em;
    opacity:0;
    transition: opacity .01s, width .3s;
    &.active{
       opacity:1; 
       width: 200px;
       transition: opacity .01s, width .3s;
    }
}

.search__input::-webkit-input-placeholder {color: $background;}
.search__input::-moz-placeholder {color: $background;}
.search__input:-ms-input-placeholder {color: $background;}
.search__input:-moz-placeholder {color: $background;}

.search__submit {
    border: none;
    background-color:transparent;
    @include hideText;
}

.search__mobile {
    display: none;
    left: 0px;
    position: fixed;
    top: 45px;
    width: 100%;

    .search__form {
        background: #fff;
        border-top: 1px solid #9D807E;
        margin-right: 0px;
    }

    .search__input {
        background: rgba(157,128,126,0.7);
        width: 100%;
    }
}

.search__mobile--button {
    background: url(../images/Search-icon.svg) 0 0 / 100% 100% no-repeat;
    display: block;
    height: 17px;
    margin: 14px 0 0 10px;
    width: 17px;
    @include hideText;
}

form.search__form--news{
    background: transparent;
    color: $green;
    border:1px solid $green;
    .search__input{
        width:100%;
    }
    .search__input::placeholder{
        color: $green;
    }
}

@include media('tablet'){
    .search__mobile {
        display: none!important;
    }
}
