.customPage{
	> div > div, > div > form, > div > table{
		max-width:90vw;
		width:1600px;
		margin:auto !important;
		padding-bottom:50px !important;
		.layout__inner{
			width:100%;
		}
	}
	> p, > h1, > h2, > h3, > h4, > h5, > h6, > ul, > ol, > blockquote, > figure, > pre{
		max-width:90vw;
		width:1600px;
		margin:auto;
		padding-bottom:50px;
	}
	.wp-block-columns{
		max-width:90vw;
		width:1600px;
		margin:auto;
		padding-bottom:50px;
	}
	.wp-block-pb-accordion-item{
		max-width:90vw;
		width:1600px;
		margin:auto !important;
	}
	.alignwide{
		max-width:90vw;
		width:1600px;
		margin:auto;
		padding-bottom:50px;
	}
	hr.is-style-default{
		max-width:150px;
		margin:auto;
	}
	.wp-block-media-text__content{
		width:100%;
	}
	.yoast-breadcrumbs{
		max-width:90vw;
		width:1600px;
		margin:auto;
		padding-bottom:50px;
	}
	.wp-block-yoast-how-to-block{
		max-width:90vw;
		width:1600px;
		margin:auto;
		padding-bottom:50px;
	}
	.wp-block-latest-comments{
		max-width:90vw;
		width:1600px;
		margin:auto;
		padding-bottom:50px;
	}
	.wp-block-search{
		max-width:90vw;
		width:1600px;
		margin:auto;
		padding-bottom:50px;
	}
	
}

