.site-wrapper{
    overflow: hidden;
}

.layout__inner {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.layout__inner--centered {
    margin: 0 auto;
    width: 100%;
}

.layout__inner--center {
    text-align: center;
    width: 100%;
}

.layout__min-height {
    min-height: 400px;
}

.layout__counter-margin {
    margin-top: -10px;
}

.layout--higher {
    position: relative;
    z-index: 2;
}

.page{
    &__title{
        display:block;
    }
}

.grid{
    width:90vw;
    max-width:1200px;
    margin:auto;
    &--2col{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:2em;
        margin-bottom:3em;
        @include media('tablet'){
            grid-template-columns: repeat(2, 1fr);
        }
        &__image{
            max-width:100%;
        }
        &:nth-of-type(2n){
            @include media('tablet'){
                .grid--2col__image{
                    grid-column: 2/3;
                    grid-row: start
                }
                .grid--2col__content{
                    grid-column: 1/2;
                    grid-row: start
                }
            }
        }
    }
}

@include media('mobile'){
    .layout__inner {
        width: 556px;
    }

    .layout__inner--condensed {
        width: 556px;
    }

    .layout__inner--wide {
        width: 90%;
    }

    .layout__inner--centered {
        width: 555px;
    }
}

@include media('small-tablet'){
    .layout__inner {
        width: 698px;
    }

    .layout__inner--centered {
        width: 556px;
    }

    .layout__inner--condensed {
        width: 556px;
    }

    .layout__inner--wide {
        width: 90%;
    }
    .page{
        &__title{
            display:none;
        }
    }
}

@include media('tablet'){
    .layout__inner {
        padding: 0px;
        width: 790px;
    }

    .layout__inner--centered {
        width: 790px;
    }

    .layout__inner--wide {
        width: 90%;
    }

    .layout__col--wrapper {
        overflow: hidden;
    }
    .layout__col--50 {
        float: left;
        width: 50%;
    }
}

@include media('tablet-landscape'){
    .layout__inner {
        width: 930px;
    }

    .layout__inner--centered {
        width: 930px;
    }

    .layout__inner--wide {
        width: 92%;
    }
}

@include media('desktop'){
    .layout__inner {
        width: 1044px;
    }

    .layout__inner--centered {
        width: 1044px;
    }

    .layout__inner--wide {
        width: 90%;
    }
}
